params {
  apiKey = "f2006d7a9fa4e92b2931d964bb75ada85a08"
  sraStudyId= "SRR8353567"
  dataDir = "null"
  platform = "illumina"
  isPaired = "true"
  trimLeft = "0"
  trimLeftR = "0"
  truncLen = "0"
  truncLenR = "0"
  maxLen = "1000"
  mergeTechReps = "false"
  trainingSetFile = "test"
  speciesAssignmentFile = "test"
  resultsFile = "output"
  outputDir = "$launchDir/output"
}
process.container = "test"
docker.enabled = true

