params {
  apiKey = "f2006d7a9fa4e92b2931d964bb75ada85a08"
  studyIdFile= "$launchDir/data/SRAIDS.tsv"
  platform = "illumina"
  isPaired = "true"
  trimLeft = "0"
  trimLeftR = "0"
  truncLen = "0"
  truncLenR = "0"
  maxLen = "1000"
  mergeTechReps = "false"
  trainingSet = "$launchDir/data/trainingSet.fa"
  speciesAssignment = "$launchDir/data/speciesAssignment.fa"
  outputName = "test"
  outputDir = "$launchDir/output"
  nValue = "1e+02"
}
process {
  container = 'veupathdb/asvtabletask:latest'
}
docker {
    enabled = true
}
