params {
  sraStudyId= "none"
  sraSampleAndRunIdsPath = "none"
  dataDir = "$launchDir/data/datadir"
  platform = "illumina"
  isPaired = "false"
  samplesInfoFile = "$launchDir/data/samplesInfoFile.txt"
  trimLeft = "0"
  trimLeftR = "0"
  truncLen = "0"
  truncLenR = "0"
  maxLen = "10000"
  mergeTechReps = "false"
  trainingSetFile = "test"
  speciesAssignmentFile = "test"
  resultsFile = "output"
  outputDir = "$launchDir/output"
}
process.container = "test"
docker.enabled = true

